  #map {
    width: 32%;
    height: 46%;
    top: 30%;
    left: 65%;
    border: 1px solid;
    position: absolute;
 }

h1 {
    color: white;
}

.identificate{
  position: absolute;
  background: #F23F30;
  height: 30%;
  width: 100%;
  text-align: center;
  font: arial;
}

.cabecera{
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  background-image: url("../imagenes/fondoF.jpg");
  background-size: 100% 100%;
  width: 94.8%;
  float: left;
}

.twitter{
  position: absolute;
  bottom: 97.5%;
  left: 0%;
}

.facebook{
  position: absolute;
  bottom: 97.8%;
  left: 10%;
}

.boton{
  position: absolute;
  left: 91.2%;
  bottom: 97.8%;
}

.filtros{
  background: white;
  position: absolute;
  width: 26%;
  height: 46%;
  left:5%;
  top:30%;
}

.checkbox{
  position: absolute;
  top:30%;

}

.volver{
  position: absolute;
  top:97.8%;
}
.cerrar{
  position: absolute;
  top:97.8%;
  left:90.7%;
}

.main{
  position: absolute;
  height: 150%;
  width: 100%;
  background: #BCCBC1;
  margin: 0% 0% 0% 0%;
}

.piePagina{
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  background-image: url("../imagenes/fotoFondo.jpg");
  background-size: 100% 100%;
  position: absolute;
  width: 94.8%;
  height: 10%;
  top:126%;
}

.usuario{
  left:11.5%;
  top:40%;
  font-style: arial;
  font-size: 20px;
  position: absolute;
}

.contraseña{
  left:2%;
  top:60%;
  font-style: arial;
  font-size: 20px;
  position: absolute;
}

.aceptar{
  position: absolute;
  font-style: arial;
  font-size: 20px;
  left:65%;
  top:80%;
}

.recuadro{
  background: white;
  position: absolute;
  width: 22%;
  height: 20%;
  left:10%;
  top:30%;
}
