{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="cuerpo">
  <div class="contenedor">
    <div id="banner">
      <img src="{% static 'imagenes/cabeceras.png' %}" name="cabecera" id="cabecera"/>
      <ul>
        {% if user.is_authenticated %}
          <h1>Bienvenido {{ user.username }}</h1>
          <li class="separador"><a href="cerrar-sesion"><strong>Cerrar sesión</strong></a>
          <li class="separador"><a href=""><strong>Descargar Datos</strong></a>
        {% else %}
          <li class="separador"><a href="inicia-sesion"><strong>Inicia Sesion</strong></a></li>
          <li class="separador"><a href="registrate"><strong>Registrate</a></strong></li>
        {% endif %}
        <li class="separador"><a href="#">ACERCA DE NOSOTROS</a></li>
        <br><br><br>
        <li><a href="https://twitter.com/UbuVerde?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @UbuVerde</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        <li><div class="fb-like" data-href="https://www.facebook.com/ubuverde/?ref=search&amp;__tn__=%2Cd%2CP-R&amp;eid=ARDf4aORi3-sZVd_JcaObQ7LY0REMN2oFScMo-glvGsXty_bfGCcyh9Z13Bv7Qtd5Qi7A9zALARsAwdK" data-width="" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></li>
      </ul>
      <div id="princNav">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="index">Inicio</a></li>
  	      <li><a href="familias">Familias</a></li>
  	      <li><a href="generos">Generos</a></li>
  	      <li><a href="especies">Especies</a></li>
  	      <li><a href="individuos">Individuos</a></li>
          {% else %}
          <li><a href="index">Inicio</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% block content %}{% endblock content %}
    <p id="pie">2019. Félix Movilla Alonso. Trabajo Fin De Grado</p>
  </div>
</body>
</html>
