{% extends "base3.html" %}
{% load static %}

{% block title %}Pino Piñonero{% endblock %}
{% block content %}
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet"  href="{% static 'css/estilos2.css' %}">
<link rel="stylesheet"  href="{% static 'css/fonts.css' %}">
<link  href="{% static 'principal_individuos.json' %}">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="static/js/jquery.slides.js"></script>

              <div class="main">
            		<div class="slides">
                  {% for l in pinoPinonero5 %}
                   {% if l.idIndividuo == 44 %}
                   <img style="width: 600px;height: 343px;" src={{l.fotoHojas}}>
                   <img style="width: 600px;height: 343px;" src={{l.fotoFrutos}}>

            			<div id="map" ><script>
                    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                      osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                      osm = L.tileLayer(osmUrl, {
                        maxZoom: 28,
                        attribution: osmAttrib
                      });
                    var estiloPopup = {'maxWidth': '300'};
                    var map = L.map('map').setView([42.350, -3.688], 17).addLayer(osm);

                    {% comment %}
                      for ( var i=0; i < sauco.length; ++i ) {
                         L.marker( [sauco[i].latitud, sauco[i].longitud] )
                            .bindPopup(sauco[i].nombreComun);
                            .addTo( map );
                      }
                      {% endcomment %}
                  </script></div>

            		</div>
            	</div>

              <script>$(function(){ $(".slides").slidesjs({ play: {  active: true, effect: "slide",  interval: 6000,  auto: true,  swap: true,  pauseOnHover: false,  restartDelay: 2500  }  });  });	</script>

              <div class="nombreComun" style="top: 150px;left: 225px;">
                <h1>{{l.nombreComun}}</h1>
              </div>

              <div class="nombreCientifico" style="left: 245px;top: 185px;">
                <h2>({{l.especie.nombreCientificoEspecie}})</h2>
              </div>

              <div class="restoCaracteristicas" style="top: 245px;left: 145px;">
                <h3>MOTIVO SINGULARIDAD: <a>{{l.motivoSingular}}</a></h3>
                <h3>EXPLICACIÓN SINGULARIDAD: <a>{{l.explicacionMotivoSingular|linebreaks}}</a></h3>
                <h3>LATITUD: <a>{{l.latitud}}</a></h3>
                <h3>LONGITUD: <a>{{l.longitud}}</a></h3>
                <h3>UBICACIÓN: <a>{{l.ubicacion}}</a></h3>
              </div>
              {% endif %}
            {% endfor %}
{% endblock content %}
