
#cuerpo{
  font-size: 62.5%;
  font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 20px;
  background-color: #FFFFFF;
}

.contenedor {
  width: 1300px;
  position: absolute;
  right: : 50%;
  margin-right: -600px;
  background-color: #FFFFFF;
  display: block;
  clear: both;
}

#banner{
  width:100%;
  position:relative;
  height:105px;
}


#banner ul {
  position: absolute;
	margin: 0px;
	padding: 0px;
	list-style: none;
  right: 0px;
  top: 20px;
}

#banner ul h1{
  color: #59A652;
	text-decoration: none;
	text-transform: uppercase;
	font: 2.1em "Trebuchet MS";
}

#banner li {
	display: inline;
	margin-left: 10px;
}
#banner li a {
	color: #94AE97;
	text-decoration: none;
	text-transform: uppercase;
	font: 1.1em "Trebuchet MS";
}

.separador {
	border-right: 1px solid #666;
	padding-right:10px;
  border: #59A652;
}

.separador a:hover{
  background: #798F2E;
}

.fb-like{
  position: absolute;
  top:50px;
  right: 0px;
}

.twitter{
  position: absolute;
  top:100px;
  right: 250px;
}

#princNav ul {
  position: absolute;
  top:150px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #798F2E;
	float: left;
	border: 1px solid #59A652;
	width: 100%;
  color: #663900;

}

#princNav li a, #princNav li a:link {
  float: left;
	color: #FFFFFF;
	text-decoration: none;
	padding: .3em .5em;
	border: 1px solid #59A652;
	display: block;
	font: bold 1.5em "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

#princNav li a:hover {
	background: #596536;
}

#map {
  left:250px;
  top: 100px;
  width: 800px;
  height: 380px;
  box-shadow: 5px 5px 5px #888;
}

#pie {
  position: absolute;
  width: 99%;
  top:635px;
	padding: 5px;
	border: 1px solid #59A652;
	background: #798F2E;
	font-weight: bold;
	color: #FFFFFF;
}
