
body {
	background:#f2f2f2;
}

.main {
  position: absolute;
	width: 600px;
	right: 0px;
	top: 190px;
	display: block;
	clear: both;
}


.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
  margin:0;
  padding:0;
}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}

.slidesjs-pagination li a:hover {
	background:#000;
}

.slides .active {
	background:#000;
}

.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}


.nombreComun{
	position: absolute;
	top: 170px;
	color:#3B937B;
	left: 240px;
}

.nombreCientifico{
	position: absolute;
	top: 210px;
	color:#20C195;
	left: 190px;
}

.restoCaracteristicas{
	position: absolute;
	top: 240px;
	padding: 10px;
}

.restoCaracteristicas h3{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	color: #3B937B;
}

.restoCaracteristicas a{
	color: #20C195;
}

.ubicacion{
	position: absolute;
	top: 170px;
	color:#3B937B;
	left: 240px;
}

.facultades{
	position: absolute;
	top: 240px;
	left: 210px;
	padding: 10px;
	color: #20C195;
}

.facultades h3{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#cuerpo{
  margin: 20px;
  background: #A6F1EE;
}
/*
.contenedor {
  width: 960px;
  position: relative;
  left: 50%;
  margin-left: -480px;
  display: block;
  clear: both;
}*/


#map {
  float:right;
  top: 100px;
  width: 100%;
  height: 400px;
}

.contenedor {
  width: 1300px;
  position: absolute;
  right: : 50%;
  margin-right: -600px;
  background-color: #A6F1EE;
  display: block;
  clear: both;
}

#banner{
  width:100%;
  position:relative;
  height:105px;
}

#banner #cabecera{
  position:absolute;
  top:10px;
  left:500px;
}

#banner ul {
  position: absolute;
	margin: 0px;
	padding: 0px;
	list-style: none;
  right: 0px;
  top: 20px;

}

#banner li {
	display: inline;
	margin-left: 10px;
}
#banner li a {
	color: #666666;
	text-decoration: none;
	text-transform: uppercase;
}

#princNav ul {
  position: absolute;
  top:130px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: url('../imagenes/bg_nav.png') repeat-x left top;
	float: left;
	border-bottom: 1px solid #000;
	width: 100%;
  color: #663900;

}

#princNav li a, #princNav li a:link {
  float: left;
	color: #FFFFFF;
	text-decoration: none;
	padding: .3em 0.5em;
	border-right: 1px solid #000;
	display: block;
	font: bold 1em "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
#princNav li a:hover {
	background: url('../imagenes/bg_nav_h.png');
}

.centrar {
    text-align: center;
}

.familias a {
    display: inline-block;
    margin: 0 2px 4px;
    padding: 2px 7px;
    width: auto;
    height: auto;
    font-size: 16px;
    color: #888;
    background-color: #FFFFFF;
    border: #c7c7c7 1px solid;
}

.familias a:hover {
	background: url('../imagenes/bg_side_head.png');
}

.centrar .familias h1{
  color: #666666;
}

#pie {
  position: absolute;
  width: 99.2%;
  top: 590px;
	padding: 5px;
	border-top: 1px solid #000;
	background: #9EEB9D;
	font-weight: bold;
	color: #000000;
}


.especies h3{
    font-size: 26px;
    color:#0068DD;
    border: #28843D 3px solid;
    padding-left: 5px;
    background-color: #FFF;
}

.contenido img {
    display: block;
    width: 50%;
    height: auto;
}

.caja h2 img {
    display: block;
    width: 20%;
    height: auto;
    font-size: 20px;
    color:#1E8535;
    background-color: #A6F1EE;
}

.box{
  display: inline-block;
  width: 98%;
  font-style: italic;
  padding: 5px;
}

.box h3{
  font-size: 20px;
  padding-left: 5px;
  border: #28843D 1px solid;
  margin: 4px;
}

.box a{
  font-size: 18px;
  color: black;
  align: justify;
}


.contenido h3{
  display: inline-block;
  width: 99%;
  background-color: #FFF;
  border: #c7c7c7 1px solid;
  font-style: italic;
  color:#626E50;
  padding: 5px;
}

.contenido h3:hover{
  box-shadow: #555 0 2px 7px;
}

.box{
  display: inline-block;
  width: 98%;
  background-color: #FFF;
  font-style: italic;
  color:#626E50;
  padding: 5px;
  margin: 10px 0 10px 0;
  background: #A6F1EE;
}

.caja h3{
  font-size: 20px;
  color:#1E8535;
  padding-left: 5px;
  background-color: #FFF;
  border: #28843D 1px dashed;
}

.caja h1{
  font-size: 40px;
  color:#1E8535;
  padding-left: 5px;
  text-align: center;
}

.caja h1 a{
  font-size: 40px;
  color:#1E8535;
  padding-left: 5px;
}

.caja a{
  font-size: 18px;
  color: black;
  align: justify;
}

.individuo h3{
  display: inline-block;
  width: 99%;
  background-color: #A6F1EE;
  font-style: italic;
  color:#626E50;
  padding: 0px;
}
/*
.individuo h3:hover{
  box-shadow: #555 0 2px 7px;
}*/

#scroll-top {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 10px;
    height: 3%;
    width: 2%;
    background: url('../imagenes/flechaArriba.png') #A6F1EE;

}

.search-form input {
    display: block;
    float: left;
    padding: 7px 10px;
    width: 85%;
    font-family: "Droid Serif",serif;
    font-size: 13px;
    color: #555;
    height: 45px;
    border: #CCC 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-form button.btn-padded {
    display: block;
    float: right;
    margin: 0;
    padding: 5px 10px;
    height: 45px;
    width: 15%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title-seleccion {
    margin-top: 20px;
    padding-bottom: 10px;
    max-width: 600px;
    font-size: 18px;
    color: #626E50;
    border-bottom: #626E50 1px solid;
}
.title-seleccion .btn-padded{
    padding: 3px 10px;
    margin: 0;
    float: right;
    font-size: 12px;
}
