{% load static %}
<!DOCTYPE html>
<html>
<div class="main">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Pagina Principal Arbubu</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.3"></script>
  <div class="cabecera">
    <img src="{% static 'imagenes/logo.png' %}"width="100">
    <img src="{% static 'imagenes/escudoUbu.png' %}"width="100">
    <img src="{% static 'imagenes/ubuv.png' %}"width="100">

  <div class="twitter">
    <a href="https://twitter.com/UbuVerde?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @UbuVerde</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="facebook">
    <div class="fb-like" data-href="https://www.facebook.com/ubuverde" data-width="" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  </div>
  <div class="boton">
    <input type="button" value="INICIAR SESIÓN" OnClick="location.href='usuario'">
  </div>
  </div>
</head>
<body>
  <div class="filtros">
    <div class="identificate">
        <h1>Filtros de Búsqueda</h1>
    </div>
    <div class="checkbox">
      <br><label> Por Familia <input type="" name="" value=""><br><br>
      <label> Por Nombre Cientifico <input type="" name="" value=""><br><br>
      <label> Por Nombre Común <input type="" name="" value=""> <br><br>
      <label> Por Autóctona <input type="" name="" value=""> <br><br>
      <label> Por Motivo Singular <input type="" name="" value=""> <br><br>
      <label> Por Altura <input type="" name="" value=""> <br><br>
      <label> Por Perímetro <input type="" name="" value=""> <br><br>
      <input type="submit" value="Filtrar" >
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <div id="map"></div>
  <script>

    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      osm = L.tileLayer(osmUrl, {
        maxZoom: 28,
        attribution: osmAttrib
      });
    var estiloPopup = {'maxWidth': '300'};
    var map = L.map('map').setView([42.350, -3.688], 17).addLayer(osm);
    L.marker([42.3509889, -3.688927777777778])
      .addTo(map)
      .bindPopup("<h2>Ciruelo Rojo</h2>", estiloPopup);
    L.marker([42.3509472, -3.688836111111111])
      .addTo(map)
      .bindPopup("<h2>Pinsapo</h2>", estiloPopup);
    L.marker([42.351, -3.6887722222222226])
      .addTo(map)
      .bindPopup("<h2>Olivo</h2>", estiloPopup);
    L.marker([42.351025, -3.688825])
      .addTo(map)
      .bindPopup("<h2>Acebo</h2>", estiloPopup);
    L.marker([42.3510444, -3.6885944444444445])
      .addTo(map)
      .bindPopup("<h2>Abeto Rojo</h2>", estiloPopup);
    L.marker([42.3510583, -3.6885111111111115])
      .addTo(map)
      .bindPopup("<h2>Hiedra</h2>", estiloPopup);
    L.marker([42.3511806, -3.688377777777778])
      .addTo(map)
      .bindPopup("<h2>Sauce Llorón</h2>", estiloPopup);
    L.marker([42.3511389, -3.6883861111111114])
      .addTo(map)
      .bindPopup("<h2>Nogal</h2>", estiloPopup);
    L.marker([42.351375, -3.6881111111111116])
      .addTo(map)
      .bindPopup("<h2>Laurel Cerezo</h2>", estiloPopup);
    L.marker([42.3514167, -3.6879250000000003])
      .addTo(map)
      .bindPopup("<h2>Tuya Gigante</h2>", estiloPopup);
    L.marker([42.3507361, -3.6892500000000004])
      .addTo(map)
      .bindPopup("<h2>Catalpa</h2>", estiloPopup);
    L.marker([42.3509306, -3.6893972222222224])
      .addTo(map)
      .bindPopup("<h2>Tamariz</h2>", estiloPopup);
    L.marker([42.3509722, -3.689411111111111])
      .addTo(map)
      .bindPopup("<h2>Lilo</h2>", estiloPopup);
    L.marker([42.3516556, -3.689505555555556])
      .addTo(map)
      .bindPopup("<h2>Plátano de Sombra</h2>", estiloPopup);
    L.marker([42.3517056, -3.6892972222222227])
      .addTo(map)
      .bindPopup("<h2>Falsa Acacia</h2>", estiloPopup);
    L.marker([42.3519361, -3.687877777777778])
      .addTo(map)
      .bindPopup("<h2>Olmo Siberiano</h2>", estiloPopup);
    L.marker([42.350175, -3.6874888888888893])
      .bindPopup('<h2>Chopo</h2><a href="http://google.es" target="_blank">Ir a Google</a>')
      .addTo(map);
  </script>
  </div>
</body>
<footer>
  <div class="piePagina"></div>
</footer>
</div>
</html>
