{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
<div class="main">
  <head>
    <meta charset="utf-8">
    <title>Listado de Especies</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="cabecera">
      <img src="{% static 'imagenes/logo.png' %}" width="100">
      <img src="{% static 'imagenes/escudoUbu.png' %}" width="100">
      <img src="{% static 'imagenes/ubuv.png' %}" width="100">
    </div>
    <table border="1">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Motivo de Singularidad</th>
        <th>Explicación de Motivo de Singularidad</th>
        <th>X</th>
        <th>Y</th>
        <th>Foto del Arbol</th>
        <th>Foto de las hojas</th>
        <th>Foto del tronco</th>
        <th>Foto de los frutos</th>
        <th>Altura</th>
        <th>Perimetro</th>
      </thead>
  </head>
  <body>
    <tbody>
      {% for l in individuo %}
      <tr>
        <td>{{l.idIndividuo}}</td>
        <td>{{l.nombreComun.nombreComunEspecie}}</td>
        <td>{{l.motivoSingular}}</td>
        <td>{{l.explicacionMotivoSingular}}</td>
        <td>{{l.x}}</td>
        <td>{{l.y}}</td>
        <td><img src="{{l.fotoArbol}}"></td>
        <td><img src="{{l.fotoHojas}}"></td>
        <td><img src="{{l.fotoTronco}}"></td>
        <td><img src="{{l.fotoFrutos}}"></td>
        <td>{{l.altura}}</td>
        <td>{{l.perimetro}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </body>
        <footer>
        </footer>
    </div>
</html>
