{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
<div class="main">
  <head>
    <meta charset="utf-8">
    <title>familias</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1> Familias Registradas</h1>
  </body>
    <table border="1">
      <thead>
        <th>Id Familia</th>
        <th>Nombre</th>
      </thead>
      <tbody>
        <tr>
        {% for l in familia %}
        <td>{{l.idFamilia}}</td>
          <td>{{l.nombreFamilia}}</td>
        </tr>
        {% endfor %}
      </tbody>
          </div>
    </html>
