{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
   <h1> Especies Registradas</h1>
      <table border="1">
        <thead>
          <th>Id</th>
          <th>Nombre Cientifico</th>
          <th>Nombre Comun</th>
          <th>Familia</th>
          <th>Autóctona</th>
          <th>Distribución</th>
          <th>Ecologia</th>

        </thead>
        <tbody>
          {% for l in especie %}
          <tr>
            <td>{{l.idEspecie}}</td>
            <td>{{l.nombreCientificoEspecie}}</td>
            <td>{{l.nombreComunEspecie}}</td>
            <td>{{l.familia.nombreFamilia}}</td>
            <td>{{l.autoctona}}</td>
            <td>{{l.descripcion}}</td>
            <td>{{l.ecologia}}</td>
          </tr>
          {% endfor %}
{% endblock %}
