{% extends "base3.html" %}
{% load static %}

{% block title %}Picea{% endblock %}
{% block content %}

              <div class="restoCaracteristicas" >
                {% for l in picea %}
                 {% if l.idGenero == 5 %}
                <h3>GÉNERO: <a>{{l.nombreGenero}}</a></h3>
                <h3>FAMILIA: <a>{{l.familia.nombreFamilia}}</a></h3>
              </div>

              <div class="individuos">
                <h1>Especies</h1>
              </div>
              <div class="listado">
              <form name="link" ><select name="menu">
              <option selected="selected">Elige la especie deseada</option>
                <option value="piceaAbies">Picea Abies</option>
              </select>  <input onclick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" type="button" value="Ir" /><span style="line-height: 1.3em;"> </span></form>
              </div>

            {% endif %}
          {% endfor %}
{% endblock content %}
