{% extends "base2.html" %}

{% block title %}Ciruelo Rojo{% endblock %}
{% block content %}

<br><br><br>
          <h1  style="text-align:center;color:#0068DD;font-size: 52px;">Ciruelo Rojo</h1>

            <div class="box">

              <div class="individuo">

                {% for l in cirueloRojo %}
                  {% if l.ubicacion == 'Campus Río Vena' %}
                    {% if l.idIndividuo == 1 %}
                      {% if l.nombreComun %}
                        <h3><a>{{l.nombreComun}}</a></h3>
                      {% endif %}
                      <h3> Motivo Singularidad: <a>{{l.motivoSingular}}</a></h3>
                      <h3> Explicación Singularidad: <a>{{l.explicacionMotivoSingular}}</a></h3>
                      <h3> Latitud: <a>{{l.latitud}}</a></h3>
                      <h3> Longitud: <a>{{l.longitud}}</a></h3>
                      <h3> Ubicación: <a>{{l.ubicacion}}</a></h3>
                      <h3 style="text-align:center;"><img style="width: 1261px;height:600px;"src={{l.fotoArbol}}></h3>
                      <h3><img style="text-align:left;width: 1261px;height:500px;"src={{l.fotoFrutos}} </h3>
                      <h3><img style="text-align:right;width: 1261px;height:400px"src={{l.fotoHojas}}></h3>


                    {% endif %}
                  {% endif %}
                {% endfor %}
                </div>
              </div>
{% endblock content %}
