{% extends "base2.html" %}

{% block title %}Especies{% endblock %}
{% block content %}

<br><br><br>
        <div class="centrar familias">
          <h1 id="container" style="text-align:center;color:#0068DD;">Especies Existentes</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in especie %}
            {% if l.idEspecie == 38 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 3 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 47 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 12 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 34 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 35 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 42 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 21 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 43 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 49 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 19 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 45 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 7 %}
              <a href="hiedrag" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 46 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 5 %}
              <a href="acebog" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 9 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 20 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 25 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 22 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 28 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 27 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 4 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 6 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 32 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 15 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 29 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 31 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 39 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 44 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 18 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 37 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 1 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 10 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 40 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 24 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 23 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 16 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 8 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 41 %}
              <a href="sauco" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 48 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 14 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 13 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 30 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 33 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 11 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 36 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 17 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
            {% if l.idEspecie == 26 %}
              <a href="" style="text-decoration:none">{{l.nombreCientificoEspecie}}</a>
            {% endif %}
          {% endfor %}
          <br><br><br><br><br><br><br><br><br><br><br>
          </div>
{% endblock content %}
