{% extends "base2.html" %}

{% block title %}Familias{% endblock %}
{% block content %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"
      integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
      crossorigin=""></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

        <div class="tituloEspecies">
          <h1>Familias Existentes</h1>
        </div>

          <div class="listado" style="top: 240px;left: 250px;">
          <form name="link" ><select name="menu">
          <option selected="selected">Elige la familia deseada</option>
          {% for l in familia %}
            {% if l.idFamilia == 37 %}

              <option value="adoxaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 3 %}
              <option value="aquifoliaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 33 %}
              <option value="araliaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 34 %}
              <option value="bignoniaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 6 %}
              <option value="caprifoliaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 9 %}
              <option value="cupresaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 35 %}
              <option value="fabaceaes">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 12 %}
              <option value="fagaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 13 %}
              <option value="juglandaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 15 %}
              <option value="leguminosas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 36 %}
              <option value="magnoliaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 38 %}
              <option value="malvaceae">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 18 %}
              <option value="moraceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 19 %}
              <option value="oleaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 21 %}
              <option value="pinaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 22 %}
              <option value="platanaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 25 %}
              <option value="rosaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 26 %}
              <option value="salicaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 27 %}
              <option value="simaroubaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 29 %}
              <option value="tamariacaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 30 %}
              <option value="taxaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 31 %}
              <option value="tiliaceas">{{l.nombreFamilia}}</option>
            {% endif %}
            {% if l.idFamilia == 32 %}
              <option value="ulmaceas">{{l.nombreFamilia}}</option>
            {% endif %}
          {% endfor %}
          </select>  <input onclick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" type="button" value="Ir" /><span style="line-height: 1.3em;"> </span></form>
          </div>
          <div id="map" style="  float:right;top: 100px;width: 50%;height: 400px; border: 1px solid #AAA;"></div>
          <script type='text/javascript' src='static/principal_individuo.js'></script>
          <script type='text/javascript' src='static/index.js'></script>

{% endblock content %}
