{% extends "base2.html" %}

{% block title %}Familias{% endblock %}
{% block content %}

<br><br><br>
        <div class="centrar familias">
          <h1 id="container" style="text-align:center;color:#0068DD;">Familias Existentes</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in familia %}
            {% if l.idFamilia == 37 %}
              <a href="sambucus" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 3  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 33  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 34  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 6  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 9  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 35  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 12  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 13  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 15  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 38  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 36  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 18  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 19  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 21  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 22  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 25  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 26  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 27  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 29  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 30  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 31  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
            {% if l.idFamilia == 32  %}
              <a href="" style="text-decoration:none">{{l.nombreFamilia}}</a>
            {% endif %}
          {% endfor %}
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
{% endblock content %}
