{% extends "base2.html" %}

{% block title %}Géneros{% endblock %}
{% block content %}
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

        <div class="tituloEspecies">
          <h1>Géneros Existentes</h1>
        </div>

          <div class="listado" style="top: 240px;left: 250px;">
          <form name="link" ><select name="menu">
          <option selected="selected">Elige el género deseado</option>
          {% for l in genero %}
            {% if l.idGenero == 2 %}
              <option value="abies">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 32 %}
              <option value="ailanthus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 9 %}
              <option value="catalpaG">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 35 %}
              <option value="cedrus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 19 %}
              <option value="cercis">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 23 %}
              <option value="cupressus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 17 %}
              <option value="fagus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 34 %}
              <option value="ficus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 16 %}
              <option value="hedera">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 33 %}
              <option value="hibiscus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 4 %}
              <option value="ilex">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 7 %}
              <option value="juglans">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 18 %}
              <option value="laburnum">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 22 %}
              <option value="ligustrum">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 20 %}
              <option value="liriodendron">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 25 %}
              <option value="lonicera">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 24 %}
              <option value="morus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 3 %}
              <option value="olea">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 5 %}
              <option value="picea">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 36 %}
              <option value="pinus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 12 %}
              <option value="platanus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 26 %}
              <option value="platycladus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 15 %}
              <option value="populus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 1 %}
              <option value="prunus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 29 %}
              <option value="pyrus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 21 %}
              <option value="quercus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 13 %}
              <option value="robinia">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 6 %}
              <option value="salix">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 30 %}
              <option value="sambucus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 31 %}
              <option value="sequoiadendron">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 11 %}
              <option value="syringa">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 10 %}
              <option value="tamarix">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 27 %}
              <option value="taxus">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 8 %}
              <option value="thuja">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero == 28 %}
              <option value="tilia">{{l.nombreGenero}}</option>
            {% endif %}
            {% if l.idGenero ==  14%}
              <option value="ulmus">{{l.nombreGenero}}</option>
            {% endif %}
          {% endfor %}
          </select>  <input onclick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" type="button" value="Ir" /><span style="line-height: 1.3em;"> </span></form>
          </div>

          <div id="map" style="left:0px; top: 100px;width: 600px;height: 380px;box-shadow: 5px 5px 5px #888;margin:10px 0 10px 10px;"><script>
            var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
              osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
              osm = L.tileLayer(osmUrl, {
                maxZoom: 28,
                attribution: osmAttrib
              });
            var estiloPopup = {'maxWidth': '300'};
            var map = L.map('map').setView([42.350, -3.688], 17).addLayer(osm);

            {% comment %}
              for ( var i=0; i < sauco.length; ++i ) {
                 L.marker( [sauco[i].latitud, sauco[i].longitud] )
                    .bindPopup(sauco[i].nombreComun);
                    .addTo( map );
              }
              {% endcomment %}
          </script></div>
{% endblock content %}
