{% extends "base3.html" %}
{% load static %}

{% block title %}Individuos{% endblock %}
{% block content %}
<link rel="stylesheet"  href="{% static 'css/estilos2.css' %}">
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

<div id="map" style="right:0px; top: 90px;width: 500px;height: 400px;box-shadow: 5px 5px 5px #888;margin:10px 0 10px 10px;"><script>
  var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    osm = L.tileLayer(osmUrl, {
      maxZoom: 28,
      attribution: osmAttrib
    });
  var estiloPopup = {'maxWidth': '300'};
  var map = L.map('map').setView([42.350, -3.688], 17).addLayer(osm);

  {% comment %}
    for ( var i=0; i < sauco.length; ++i ) {
       L.marker( [sauco[i].latitud, sauco[i].longitud] )
          .bindPopup(sauco[i].nombreComun);
          .addTo( map );
    }
    {% endcomment %}
</script></div>

              <div class="ubicacion">
                <h1>UBICACIÓN</h1>
              </div>

            <div class="facultades">
                <h3><a href="individuoRioVena">CAMPUS RÍO VENA</a></h3>
                <h3><a href="individuoHospitalDelRey">HOSPITAL DEL REY</a></h3>
                <h3><a href="individuos"style="background:#14DF14">HOSPITAL MILITAR</a></h3>
                <h3><a href="individuoEducacion">CAMPUS DE EDUCACIÓN</a></h3>
                <h3><a href="individuoCiencias">CAMPUS DE CIENCIAS</a></h3>
            </div>

            <div class="listado" style="top: 200px;left: 510px;">
            <form name="link" ><select name="menu">
            <option selected="selected">Elige el árbol deseado</option>
            {% for l in individuoHospitalMilitar %}
            {% if l.idIndividuo == 53 %}
              <option value="abetoRojo1">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 54 %}
              <option value="abetoRojo2">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 55 %}
              <option value="abetoRojo3">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 56 %}
              <option value="abetoRojo4">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 57 %}
              <option value="abetoRojo5">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 58 %}
              <option value="cedroAtlas3">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 59 %}
              <option value="cedroAtlas4">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 60 %}
              <option value="cedroAtlas5">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 61 %}
              <option value="cedroAtlas6">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 62 %}
              <option value="cedroAtlas7">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 63 %}
              <option value="cedroAtlas8">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 64 %}
              <option value="cedroHimalaya3">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 68 %}
              <option value="cirueloRojo2">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 67 %}
              <option value="laurelCerezo1">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 44 %}
              <option value="pinoPinonero1">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 45 %}
              <option value="pinoPinonero2">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 46 %}
              <option value="pinoPinonero3">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 47 %}
              <option value="pinoPinonero4">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 48 %}
              <option value="pinoPinonero5">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 66 %}
              <option value="pinsapo2">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 49 %}
              <option value="tejo1">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 65 %}
              <option value="tilo1">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 50 %}
              <option value="tuyaCanada1">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 51 %}
              <option value="tuyaCanada2">{{l.nombreComun}}</option>
              {% endif %}
            {% if l.idIndividuo == 52 %}
              <option value="tuyaCanada3">{{l.nombreComun}}</option>
            {% endif %}
          {% endfor %}
            </select>  <input onclick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" type="button" value="Ir" /><span style="line-height: 1.3em;"> </span></form>
            </div>
{% endblock content %}
