{% extends "base2.html" %}

{% block title %}Individuos{% endblock %}
{% block content %}

<br><br><br>
        <div class="centrar familias">
          <h1 id="container" style="text-align:center;color:#0068DD;">Campus Río Vena</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in individuo %}
            {% if l.idIndividuo == 5 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 4 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 11 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 17 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 1 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 15 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 6 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 9 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 13 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 8 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 3 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 16 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 14 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 2 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 7 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 12 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 10 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
          {% endfor %}

          <h1 id="container" style="text-align:center;color:#0068DD;">Hospital del Rey</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in individuo %}
            {% if l.idIndividuo == 31 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 32 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 42 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 25 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 26 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 27 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 20 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 21 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 28 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 30 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 22 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 40 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 19 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 18 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 41 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 33 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 29 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 39 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 35 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 23 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 24 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 34 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 37 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 38 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 43 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 36 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
          {% endfor %}

          <h1 id="container" style="text-align:center;color:#0068DD;">Hospital Militar</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in individuo %}
            {% if l.idIndividuo == 53 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 54 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 55 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 56 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 57 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 58 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 59 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 60 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 61 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 62 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 63 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 64 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 67 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 68 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 44 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 45 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 46 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 47 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 48 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 66 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 49 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 65 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 50 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 51 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 52 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
          {% endfor %}

          <h1 id="container" style="text-align:center;color:#0068DD;">Facultad Educación</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in individuo %}
            {% if l.idIndividuo == 78 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 79 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 77 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 80 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 82 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 83 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 75 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 81 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 76 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 69 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 70 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 71 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 72 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 73 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 84 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 85 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 74 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
          {% endfor %}

          <h1 id="container" style="text-align:center;color:#0068DD;">Facultad Ciencias</h1>
          {% comment %}<a href="#container" id="scroll-top" title="Volver arriba" class="scroll"></a>{% endcomment %}
          <br>
          {% for l in individuo %}
            {% if l.idIndividuo == 109 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 110 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 92 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 93 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 94 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 95 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 98 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 99 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 100 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 88 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 89 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 86 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 87 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 106 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 107 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 90 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 91 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 104 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 108 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 96 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 101 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 97 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 103 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
            {% if l.idIndividuo == 105 %}
              <a href="" style="text-decoration:none">{{l.nombreComun}}</a>
            {% endif %}
          {% endfor %}
          </div>
{% endblock content %}
