{% extends "base3.html" %}
{% load static %}

{% block title %}Individuos{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>

<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"
  integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>

  <div id="map" style="right:0px; top: 90px;width: 500px;height: 400px;box-shadow: 5px 5px 5px #888;margin:10px 0 10px 10px;""></div>
  <script type='text/javascript' src='static/principal_individuo.js'></script>
  <script type='text/javascript' src='static/hospitalDelRey.js'></script>

              <div class="ubicacion">
                <h1>UBICACIÓN</h1>
              </div>

            <div class="facultades">
                <h3><a href="individuoRioVena"style="text-decoration: none;">CAMPUS RÍO VENA</a></h3>
                <h3><a href="individuos" style="background:#CFD89E;text-decoration: none;">HOSPITAL DEL REY</a></h3>
                <h3><a href="individuoHospitalMilitar"style="text-decoration: none;">HOSPITAL MILITAR</a></h3>
                <h3><a href="individuoEducacion"style="text-decoration: none;">CAMPUS DE EDUCACIÓN</a></h3>
                <h3><a href="individuoCiencias"style="text-decoration: none;">CAMPUS DE CIENCIAS</a></h3>
            </div>

            <div class="listado" style="top: 200px;left: 510px;">
            <form name="link" ><select name="menu">
            <option selected="selected">Elige el árbol deseado</option>
            {% for l in individuoHospitalDelRey %}
              {% if l.idIndividuo == 31 %}
                <option value="abetoRojo6">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 32 %}
                <option value="abetoRojo7">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 42 %}
                <option value="alamoBlanco2">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 25 %}
                <option value="aligustreJapon1">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 26 %}
                <option value="aligustreJapon2">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 27 %}
                <option value="aligustreJapon3">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 20 %}
                <option value="arbolAmor">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 21 %}
                <option value="arbolTulipanes">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 28 %}
                <option value="cipresLeyland">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 30 %}
                <option value="cirueloRojo3">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 22 %}
                <option value="encina">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 40 %}
                <option value="falsaAcacia1">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 19 %}
                <option value="falsoEbano">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 18 %}
                <option value="hayaPurpura">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 41 %}
                <option value="lilo1">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 33 %}
                <option value="madreselva">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 29 %}
                <option value="moral">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 39 %}
                <option value="nogal1">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 35 %}
                <option value="pinsapo3">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 23 %}
                <option value="quejigo">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 24 %}
                <option value="sauceLloron2">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 34 %}
                <option value="sauceLloron3">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 37 %}
                <option value="taray1">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 38 %}
                <option value="tejo2">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 43 %}
                <option value="tilo2">{{l.nombreComun}}</option>
                {% endif %}
                {% if l.idIndividuo == 36 %}
                <option value="tuyaOriental">{{l.nombreComun}}</option>
              {% endif %}
            {% endfor %}
            </select>  <input onclick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" type="button" value="Ir" /><span style="line-height: 1.3em;"> </span></form>
            </div>
{% endblock content %}
