{% extends "base3.html" %}

{% block title %}Sauco{% endblock %}
{% block content %}
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

<br><br><br>

              <div class="caja">
                {% for l in sauco %}
                    {% if l.idIndividuo == 85 %}
                      <h3> Nombre Común: <a>{{l.nombreComun}}</a></h3>
                      <h3> Nombre Especie: <a>{{l.especie.nombreCientificoEspecie}}</a></h3>
                      <h3> Motivo Singular: <a>{{l.motivoSingular}}</a></h3>
                      <h3> Explicación de singularidad: <a>{{l.explicacionMotivoSingular}}</a></h3>
                      <h2><img src={{l.fotoFrutos}}></h2>
                      <h3> Latitud: <a>{{l.latitud}}</a></h3>
                      <h3> Longitud: <a>{{l.longitud}}</a></h3>
                      <h2><img src={{l.fotoHojas}}></h2>
                      <h3> Ubicación: <a>{{l.ubicacion}}</a></h3>
                    {% endif %}
                {% endfor %}
                {% include "mapa2.html" %}
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <p id="pie">2019. Félix Movilla Alonso. Trabajo Fin De Grado</p>
              </div>


{% endblock content %}
