{% extends "base3.html" %}
{% load static %}

{% block title %}Adoxáceas{% endblock %}
{% block content %}

              <div class="restoCaracteristicas" style="top:250px">
                {% for l in adoxaceas %}
                 {% if l.idFamilia == 37 %}
                <h3>FAMILIA: <a>{{l.nombreFamilia}}</a></h3>
              </div>

              <div class="individuos">
                <h1>Géneros</h1>
              </div>
              <div class="listado">
              <form name="link" ><select name="menu">
              <option selected="selected">Elige el género deseado</option>
                <option value="sambucus">Sambucus</option>
              </select>  <input onclick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" type="button" value="Ir" /><span style="line-height: 1.3em;"> </span></form>
              </div>

            {% endif %}
          {% endfor %}
{% endblock content %}
